body {
	font-family: Helvetica, Futura, Arial, sans-serif;
}

.box {
	width: 40%;
	border-radius: 5px;
	padding: 5px;
}

.one {
	color: white;
	background: #00FFCC;
}
.two {
	color: white;
	background-color: black;
}
.three {
	color: white;
	background-color: salmon;
}
.four {
	color: white;
	background-color: orange;
}
.cool {
	background: url('../img/blu.jpg');
	color: #606060;
	width: 50%;
	text-align: center;
	height: 500px;
	padding: 30px;
}
.spacer {
	height:25px;
}
.active {
	background:red;
	color:#fff;
}
.not-active {
	background-color: pink;
}
